<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171531026-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-171531026-1');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compara online</title>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/stylesheets/theme.min.css">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <section class="main-section">
        <div class="container-fluid">
            <div class="row">
                <div class="logo-container">
                    <img src="/images/compara-precios-logo.png" alt="">
                </div>
            </div>
            <div class="text-column">
                <h4>¿Algo en lo que quieras ahorrar hoy?</h4>
                <h5>Buscar el producto que quieras comprar y compara entre las mejores tiendas de Colombia</h5>
            </div>
            <form action="/search" method="POST">
                <input type="text" class="form-control" name="name_field" placeholder="Ex: Iphone X">
                <button type="submit" class="btn btn-primary">Comparar</button>
            </form>
        </div>
    </section>

    <div class="loader-wrapper " id="loader-wrapper">
        <div class="tenor-gif-embed" data-postid="5275838" data-share-method="host" data-width="100%"
            data-aspect-ratio="1.7913669064748199">
        </div>
        <h2 class="my-5">Estamos navegando la web para traerte los mejores precios</h2>
    </div>

<<<<<<< HEAD
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    <script>
        const submitButton = $('.btn-lg');
        const loaderWrapper = $('#loader-wrapper');
=======
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6637572105235229",
    enable_page_level_ads: true
  });
</script>
  <script>
    const submitButton = $('.btn-lg');
    const loaderWrapper = $('#loader-wrapper');
>>>>>>> 8e8a6de569b330bfb76ff7ab041abaf4bc801582

        submitButton.click(() => {
            loaderWrapper.css('display', 'flex');
        });
    </script>

</body>

</html>