/* INDEX */

.main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-section .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.main-section .logo-container {
    max-width: 500px;
    margin-bottom: 3rem;
}

.main-section .logo-container img {
    width: 100%;
}

.main-section .text-column {
    margin-bottom: 3rem;
    text-align: center;
}

.main-section form {
    display: flex;
    width: 85%;
    justify-content: center;
}

.main-section input {
    max-width: 70%;
    margin-right: 20px;
    padding: 30px;
    font-size: 20px;
}

.main-section button {
    width: 20%;
    font-size: 20px;
    float: right;
}

@media (max-width: 770px) {

    .main-section .logo-container {
        max-width: 70%;
        margin: 0 auto 3rem;
    }

    .main-section .text-column h5 {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .main-section form {
        flex-direction: column;
    }

    .main-section input {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .main-section button {
        width: 100%
    }
}


/* PRODUCTOS */

.navbar {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar form {
        width: 100%;
    }

    .navbar .input {
        width: 100%;
        margin-right: 0;
    }

    .navbar button {
        width: 100%;
        margin-top: 15px;
    }

    .product-container {
        margin-top: 1rem !important;
    }
}

.product-container {
    margin-top: 5rem;
}

.card {
    border-radius: 20px;
    border: 0;
}

.card-body {
    padding: 0.75rem;
    background-color: white;
}

.card-header {
    min-height: 15rem;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0 !important;
    background-color: white;
}

.card img {
    border-radius: 20px !important;
}

.card p {
    font-family: 'Poppins', 'sans-serif';
    font-size: 0.75rem;
    font-weight: 500;
}

.card p.product-title {
    height: 2rem;
    max-height: 2rem;
    overflow: hidden;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
    color: #040017;
}

.company-logo {
    display: flex;
    align-items: center;
}

.company-logo img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.company-logo p {
    margin: 0;
}

.card-footer {
    background-color: #685CE6;
    border-radius: 0 0 20px 20px !important;
    text-align: center;
    padding: 0;
    min-height: 35px;
    display: flex;
    align-items: center;
}

.card-footer a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}


/* LOADER */

.loader-wrapper {
    background-color: #040017;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.loader-wrapper .tenor-gif-embed {
    width: 70% !important;
}