/* FONTS */

@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/league_spartan_bold_700-webfont.woff2') format('woff2'),
       url('./fonts/league_spartan_bold_700-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ESTILOS GENERALES */

body {
  background-color: #040017;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'league_spartanbold';
  color: white;
}




/* INDEX */

.main-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-section .container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  width: 100%;
}

.logo-container img {
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

.main-section form {
  width: 100%;
}

.main-section form .row {
  align-items: flex-end;
}

.main-section form input {
  padding: 2.15rem 2rem;
  font-size: 1.5rem;
}

.main-section form .btn-lg {
  padding: 1.25rem 1rem;
}

.loader-wrapper {
  background-color: #040017;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.loader-wrapper .tenor-gif-embed {
  width: 70% !important;
}

@media (max-width: 892px) {
  .main-section form .btn-lg {
    width: 100%;
  }
}

@media (max-width: 691px) {
  .logo-container img {
    max-width: 85%;
  }

  label {
    display: block;
    text-align: center;
  }

  .loader-wrapper h2 {
    text-align: center;
    font-size: 2rem;
  }
}


/* RESULTS PAGE */

.results-section {
  padding: 20px;
}

label {
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.5em;
  color: white;
}

.btn {
  font-family: 'Poppins', 'sans-serif';
}

.btn-primary {
  background-color: #00aeff;
  border-color: #00aeff;
}

.btn-primary:hover {
  background-color: #685CE6;
  border-color: #685CE6;
}

.card {
  border-radius: 20px;
  border: 0;
}

.card-body {
  padding: 0.75rem;
}

.card-header {
  min-height: 15rem;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0 !important;
  background-color: white;
}

.card img {
  border-radius: 20px !important;
}

.card p {
  font-family: 'Poppins', 'sans-serif';
  font-size: 0.75rem;
  font-weight: 500;
}

.card p.product-title {
  height: 2rem;
  max-height: 2rem;
  overflow: hidden;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  color: #040017;
}

.company-logo {
  display: flex;
  align-items: center;
}

.company-logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.company-logo p {
  margin: 0;
}

.card-footer {
  background-color: #685CE6;
  border-radius: 0 0 20px 20px !important;
  text-align: center;
  padding: 0;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.card-footer a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'league_spartanbold';
  font-size: 0.8rem;
  text-decoration: none;
}
